<div class="container">
    <div class="col-md-6 mx-auto">
        <form #StudentForm="ngForm" (ngSubmit)="saveStudent(student)">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <input type="text" name="name" [(ngModel)]="student.name" class="form-control" placeholder="Enter Name" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="address" [(ngModel)]="student.address" class="form-control" placeholder="Enter Address" />
                    </div>
                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" value="I" name="class" [(ngModel)]="student.class" />
                            Class I
                        </label>&nbsp;&nbsp;
                        <label class="radio-inline">
                            <input type="radio" value="II" name="class" [(ngModel)]="student.class"/>
                            Class II
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="text" name="rollNo" [(ngModel)]="student.rollNo" class="form-control" placeholder="Enter Roll No" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="grade" [(ngModel)]="student.grade" class="form-control" placeholder="Enter Grade" />
                    </div>
                    <div class="form-group">
                        <input type="file" name="imgpath" [(ngModel)]="student.imgPath" class="form-control" placeholder="Enter Grade" />
                    </div>
                </div>
                <div class="card-footer">
                    <div class="col-md-6 mx-auto">
                        <button class="btn btn-block btn-dark">Submit</button>
                    </div>
                </div>
            </div>
        </form>

        <!-- {{StudentForm.value | json}}
        {{student.name}} -->
    </div>
</div>